/* 
    Created on : 31.1.2017, 20:08:05
    Author     : Tewsa
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 

body {
    background-color: #dbfff6;
    font-size: 16px;
    font-family: Tahoma;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

p {
    margin-bottom: 5px;
    color: #004d38;
}

nav {
    margin-bottom: 20px;
    height: 20px;
    padding-top: 20px;
    background: #ccffd9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ccffd9, #dbfff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ccffd9, #dbfff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ccffd9, #dbfff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ccffd9, #dbfff6); /* Standard syntax (must be last) */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0px 5px 0px 5px;
}

nav ul li a {
    color: #004d39;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 500;
}

nav ul li a:visited {
    color: #004d39;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 500;
}

a {
    color: #004d38;
}

a:visited {
    color: #39004d;
}

#curr {
    font-weight: 700;
}

h1 {
    font-size: 1.6em;
    color: #004d39;
    font-weight: 700;
    letter-spacing: 2px;
}

h4 {
    font-size: 1.4em;
    color: #004d39;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
}

h5 {
    font-size: 1.1em;
    color: #004d39;
    font-weight: 500;
    text-align: center;
}

div {
    margin-top: 10px;

}

div > p {
    margin-top: 20px;
    margin-bottom: 10px;
}

#arvo {
    margin-left: 0.8em;
    font-size: 0.9em;
    color: #79eccf;
}

img {
    width: 80%;
}

#one {
    display: inline-block;
    width: 60%;
}

#two {
    width: 40%;
    display: inline-block;
    float: right;
}


input[type=number] {
    width: 3em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccfff1), color-stop(1, #89f5d7));
    background:-moz-linear-gradient(top, #ccfff1 5%, #89f5d7 100%);
    background:-webkit-linear-gradient(top, #ccfff1 5%, #89f5d7 100%);
    background:-o-linear-gradient(top, #ccfff1 5%, #89f5d7 100%);
    background:-ms-linear-gradient(top, #ccfff1 5%, #89f5d7 100%);
    background:linear-gradient(to bottom, #ccfff1 5%, #89f5d7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccfff1', endColorstr='#89f5d7',GradientType=0);
    background-color:#ccfff1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #8cffde;
    display:inline-block;
    color:#004d38;
    font-family:Trebuchet MS;
    font-size:16px;
    padding:3px 15px;
    text-decoration:none;
    margin-top: 10px;
}

footer {
    text-align: center;
    color: #d6f5ed;
    margin-bottom: 40px;
    margin-top: 50px;
}

.chart-ika {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
}

.chart-yleinen {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 50px;
}


